.rarity-5 {
  background-image: url(https://genshinbuilds.aipurrjects.com/5_sm.png) !important;
  background-size: contain !important;
  background-position: 50% !important;
  order: -1;
}
.rarity-4 {
  background-image: url(https://genshinbuilds.aipurrjects.com/4_sm.png) !important;
  background-size: contain !important;
  background-position: 50% !important;
  order: -1;
}
.rarity-3 {
  background-image: url(https://genshinbuilds.aipurrjects.com/3_sm.png) !important;
  background-size: contain !important;
  background-position: 50% !important;
  order: -1;
}
.rarity-2 {
  background-image: url(https://genshinbuilds.aipurrjects.com/2_sm.png) !important;
  background-size: contain !important;
  background-position: 50% !important;
  order: -1;
}
.rarity-1 {
  background-image: url(https://genshinbuilds.aipurrjects.com/1_sm.png) !important;
  background-size: contain !important;
  background-position: 50% !important;
  order: -1;
}

.basic {
  color: #fff;
  font-weight: 600;
}

.electro,
.ww-Thunder {
  font-weight: bolder;
  color: #b45bff;
}

.aero,
.ww-Wind {
  color: #53f9b1;
  font-weight: bolder;
}

.fusion,
.ww-Fire {
  font-weight: bolder;
  color: #f0744e;
}

.glacio,
.ww-Ice {
  font-weight: bolder;
  color: #41aefb;
}
.ww-Highlight {
  font-weight: bolder;
  color: #f7ca2f;
}
.spectro,
.ww-Light {
  font-weight: bolder;
  color: #f8e56c;
}

.havoc,
.ww-Dark {
  font-weight: bolder;
  color: #e649a6;
}

.ww-Title {
  font-weight: bolder;
  color: #a89969;
}

.five-star-bg {
  background: linear-gradient(180deg,#945c2c,#b27330)
}

.four-star-bg {
  background: linear-gradient(180deg,#5e5789,#9c75b7)
}

.three-star-bg {
  background: linear-gradient(180deg,#567496,#5392b8)
}

.two-star-bg {
  background: linear-gradient(180deg,#4b6c67,#519072)
}

.one-star-bg {
  background: linear-gradient(180deg,#6a6d74,#868586)
}