<>
  <img
    src="/logo.png"
    class="fill-current text-white md:w-48"
    alt="GenshinBuilds logo"
    width={90}
    height={38}
  />
  <span class="hidden text-lg font-normal text-gray-100"> GenshinBuilds</span>
</>
