@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */
@layer base {
  input,
  select {
    @apply bg-vulcan-700;
  }

  input {
    @apply border border-vulcan-500;
  }
}

.weapon-bonus {
  word-break: break-word;
}

.weapon-bonus > span,
.skill-description > span {
  font-weight: bold;
}

.build-option-divider {
  position: relative;
  width: 100%;
  text-align: center;
  color: #a7b1c1;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}

.build-option-divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 45%;
  height: 1px;
  background: #36384a;
}

.build-option-divider:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 45%;
  height: 1px;
  background: #36384a;
}

.custom-scroll::-webkit-scrollbar {
  width: 11px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #14161d;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #6a7390;
  border: 4px solid transparent;
  border-radius: 8px;
}

.map-marker {
  pointer-events: none !important;
  z-index: 10000 !important;
}

.map-marker__img {
  position: absolute;
  width: 53%;
  height: 53%;
  left: 23.5%;
  top: 23.5%;
  border-radius: 50%;
  pointer-events: all;
}

.map-marker__arrow {
  position: absolute;
  height: 28%;
  bottom: 32.5%;
  -webkit-transform-origin: 237.5% 50%;
  -ms-transform-origin: 237.5% 50%;
  transform-origin: 237.5% 50%;
}

.map-marker:before {
  content: "";
  display: block;
  width: 58.8%;
  height: 58.8%;
  position: absolute;
  left: 20.6%;
  top: 20.6%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.map-marker:after {
  content: "";
  display: block;
  width: 54.9%;
  height: 54.9%;
  position: absolute;
  left: 22.55%;
  top: 22.55%;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

.gradient-image {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, transparent 100%);
  width: 100%;
  height: 100%;
}

.genshin-bg-rarity-0,
.genshin-bg-rarity-1,
.genshin-bg-rarity-2,
.genshin-bg-rarity-3,
.genshin-bg-rarity-4,
.genshin-bg-rarity-5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.genshin-bg-rarity-0 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/0-Star.webp");
}
.genshin-bg-rarity-1 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/1-Star.webp");
}
.genshin-bg-rarity-2 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/2-Star.webp");
}
.genshin-bg-rarity-3 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/3-Star.webp");
}
.genshin-bg-rarity-4 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/4-Star.webp");
}
.genshin-bg-rarity-5 {
  background-image: url("https://genshinbuilds.aipurrjects.com/genshin/5-Star.webp");
}

#pmLink {
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

#pmLink:hover {
  visibility: visible;
  color: grey;
}

body {
  --fsAddBuffer: 22px;
}
[id="genshinbuilds_incontent_3"],
[id="genshinbuilds_incontent_4"],
[id="genshinbuilds_incontent_2"],
[id="genshinbuilds_sticky_pushdown-pushdown-cls"],
[id="genshinbuilds_billboard_atf"],
[id="genshinbuilds_incontent_1"],
[id="genshinbuilds_incontent_5"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(var(--height) + var(--fsAddBuffer));
  width: 100%;
}
[id="genshinbuilds_billboard_atf"] {
  --height: 280px;
}
[id="genshinbuilds_incontent_1"] {
  --height: 280px;
}
[id="genshinbuilds_incontent_2"] {
  --height: 280px;
}
[id="genshinbuilds_incontent_3"] {
  --height: 280px;
}
[id="genshinbuilds_incontent_4"] {
  --height: 280px;
}
[id="genshinbuilds_incontent_5"] {
  --height: 280px;
}
[id="genshinbuilds_sticky_pushdown-pushdown-cls"] {
  --height: 100px;
}
@media only screen and (min-width: 768px) {
  [id="genshinbuilds_billboard_atf"] {
    --height: 250px;
  }
  [id="genshinbuilds_incontent_1"] {
    --height: 250px;
  }
  [id="genshinbuilds_incontent_2"] {
    --height: 250px;
  }
  [id="genshinbuilds_incontent_3"] {
    --height: 250px;
  }
  [id="genshinbuilds_incontent_4"] {
    --height: 250px;
  }
  [id="genshinbuilds_incontent_5"] {
    --height: 250px;
  }
  [id="genshinbuilds_sticky_pushdown-pushdown-cls"] {
    --height: 90px;
  }
}
