.hsr-multiborder {
  height: 55%;
  margin-top: 2.5rem;
  position: absolute;
  width: 0.2rem;
}

.hsr-multiborder:before {
  bottom: 0;
}
.hsr-multiborder:after {
  top: 0;
}
.hsr-multiborder:after,
.hsr-multiborder:before {
  background-color: rgb(161 161 170);
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  content: "";
  display: inline-block;
  height: 0.2rem;
  position: absolute;
  width: 1.6rem;
}

@media only screen and (max-width: 1000px) {
  .hsr-multiborder {
    margin-top: -2px;
    height: 0.2rem;
    margin-left: 15%;
    position: relative;
    width: 70%;
  }

  .hsr-multiborder:after,
  .hsr-multiborder:before {
    height: 1.5rem;
    top: 0;
    width: 0.2rem;
  }

  .hsr-multiborder:before {
    left: 0;
  }
  .hsr-multiborder:after {
    right: 0;
  }
}
